.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 7vh;
  padding: 0 2rem;
  position: relative;

  background-color: $color-black;
  font-family: $font-family-main;
  @include respond(phone) {
    flex-direction: column;
    justify-content: center;
  }

  &__logo {
    @include respond(phone) {
      align-self: flex-start;
    }

    a {
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
      color: white;
      font-size: 2.9rem;
      font-family: $font-family-main;
    }
  }
  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    @include respond(phone) {
      display: none;
    }
    // .M-link {
    //   padding: 1.2rem;
    // }

    .M-link {
      padding: 1.4rem;

      // @include respond(phone) {
      //   display: none;
      // }
    }
    .link {
      padding: 1.2rem;
      // @include respond(phone) {
      //   display: none;
      // }
    }
    a {
      display: inline-block;
      font-weight: 400;
      padding: 0 2rem;
      text-transform: uppercase;
      text-decoration: none;
      color: white;
      font-size: 2.2rem;
      transition: all 0.3s ease;
      &:hover {
        border-bottom: 0.3rem solid #0067f4;
      }
    }

    .dropdown {
      position: relative;
      a {
        padding: 1.2rem;
      }
      &:hover {
        .sub-menu {
          display: block;
          &:hover {
            display: block;
          }
        }
      }
    }
  }

  &__togglebutton {
    position: absolute;
    top: 1rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 3rem;
    height: 2.1rem;
    @include respond(phone) {
      display: flex;
      top: 50%;
      right: 5%;
      transform: translate(5%, -50%);
    }

    .bar {
      height: 0.3rem;
      width: 100%;
      background-color: white;
      border-radius: 1rem;
      @include respond(phone) {
      }
    }
  }
}

.active {
  display: flex;
  flex-flow: column;
  justify-items: center;
  align-content: center;
}

.active-mobile {
  top: 5%;
  right: 5%;
  transform: translate(5%, -5%);
}
