//jumbo
.projects--container {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: #f4f7fd;
  position: relative;
  padding-bottom: 5rem;
  overflow: hidden;

  &__title {
    font-size: 5.2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: black;
    text-align: center;
    font-family: $font-family-main;
    text-transform: uppercase;
  }
  &__projects-grid {
    display: grid;
    margin: 0 auto;
    width: 90%;
    height: auto;
    row-gap: 4rem;
    column-gap: 2rem;
    justify-items: center;
    align-items: center;

    grid-template-columns: repeat(auto-fit, minmax(65rem, 1fr));
    @include respond(phone) {
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    }

    .project-card {
      height: 55rem;
      width: 55rem;
      border: 1px solid #d0d0d0;
      border-radius: 1.5rem;
      box-shadow: 0px 9px 25px -16px rgba(0, 0, 0, 0.54);
      background-color: #ececec;
      transition: all 0.3s ease-in-out;
      @include respond(phone) {
        height: 30rem;
        width: 30rem;
      }

      overflow: hidden;
      // transition: background-color 0.4s ease-in;

      &:hover {
        transform: scale(1.1);
        background-color: rgba(#057af0, 0.85);
        overflow: hidden;
        border-radius: 1.5rem;

        .project-card__info__color2 {
          position: absolute;
          background: rgb(#057af0, 0.8);
          width: 100%;
          height: 100%;
          bottom: 0;
          right: 0;
        }
        .project-card__info__button {
          color: #057af0;
          background-color: white;
        }
      }

      &__img {
        height: 75%;
        width: 100%;

        position: relative;

        border-top-right-radius: 1.5rem;
        border-top-left-radius: 1.5rem;
        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }

        &__title {
          width: 100%;
          background: rgba(#000, 0.5);
          height: 5rem;
          position: absolute;
          bottom: 0;
          left: 0;
          border-top-right-radius: 0.5rem;
          border-top-left-radius: 0.5rem;
          text-transform: uppercase;
          letter-spacing: 0.2rem;
          h1 {
            color: white;
            padding: 0.75rem;
            font-size: 3rem;
            text-align: center;
            font-family: $font-family-main;
            @include respond(phone) {
              font-size: 2rem;
            }
          }
        }
      }

      &__info {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 25%;
        position: relative;
        overflow: hidden;

        &__color1 {
          content: '';
          overflow: hidden;
          position: absolute;
          background: rgb(#012448, 15%);
          width: 100%;
          height: 100%;
          z-index: 0;

          right: 0;
          bottom: 0;

          clip-path: polygon(68% 68%, 100% 0%, 100% 100%, 0% 100%);
        }
        &__color2 {
          content: '';
          overflow: hidden;
          position: absolute;

          width: 100%;
          height: 100%;
          right: -20rem;
          bottom: -20rem;
          z-index: 1;
          clip-path: circle(98.7% at 99% 100%);
          // clip-path: circle(50% at 50% 20%);
          border-radius: inherit;

          transition: all 0.3s ease-in-out;
        }

        &__button {
          background-color: #057af0;
          padding: 1rem 1.5rem;
          border-radius: 0.7rem;
          // font-family: 'Source Sans Pro', sans-serif;
          font-family: $font-family-secondary;
          font-size: 2.4rem;
          color: $color-white;
          transition: all 0.3s;
          z-index: 2;
          box-shadow: -2px 6px 47px -17px rgba(#fff, 0.75);
          // &:hover {
          //   cursor: pointer;
          //   background-color: rgba(#057af0, 0.75);
          // }
          @include respond(phone) {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

.projects {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: #f4f7fd;
  position: relative;
  padding-bottom: 5rem;
  overflow: hidden;

  &__title {
    font-size: 5.2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: black;
    text-align: center;
    font-family: $font-family-main;
    text-transform: uppercase;
  }
  &__grid {
    display: grid;
    margin: 0 auto;
    width: 90%;
    height: auto;

    column-gap: 0.1rem;
    padding: 2.4rem 0;
    row-gap: 4rem;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(70rem, 1fr));
    @include respond(phone) {
      grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
      width: 100%;
    }
  }
  &__card {
    height: 55rem;
    width: 70rem;

    border: 1px solid #d0d0d0;
    border-radius: 1.5rem;

    background-color: $color-white;
    transition: all 0.3s ease-in-out;
    padding: 1.2rem 1.2rem;
    display: flex;
    align-items: flex-start;

    @include respond(phone) {
      height: 90rem;
      width: 90%;
      flex-flow: column;
      justify-content: space-between;
      flex-direction: column-reverse;
    }

    &__info {
      flex: 40%;
      padding: 0 0.5rem;
      height: 100%;
      overflow: auto;
      @include respond(phone) {
        margin-top: 2rem;
      }
      &::-webkit-scrollbar {
        display: none;
      }

      &__title {
        font-size: 1.8rem;
        color: #808080;
        text-transform: capitalize;
        letter-spacing: 0.05rem;
        margin-bottom: 2rem;
      }

      &__tech {
        display: flex;
        margin-bottom: 2.2rem;

        &__icon {
          flex: 10%;
          font-size: 3.3rem;
          text-align: left;
          @include respond(phone) {
            text-align: center;
          }
        }

        &__info {
          flex: 70%;

          &__title {
            font-size: 2.2rem;
            color: $color-black;
            font-weight: 700;
            margin-bottom: 0.5rem;
            text-transform: capitalize;
          }
          &__bar {
            height: 0.4rem;

            margin-bottom: 0.5rem;
            width: 90%;
          }
          &__paragraph {
            font-size: 1.3rem;
            color: $color-grey;
            font-weight: 500;
            font-family: $font-family-secondary;
            width: 90%;
            @include respond(phone) {
              font-size: 1.45rem;
            }
          }
        }
      }
    }

    &__summary {
      flex: 60%;
      border-radius: 0.7rem 0.7rem;
      height: 100%;
      overflow: hidden;
      box-shadow: 0px 9px 25px -16px rgba(0, 0, 0, 0.54);

      &__img {
        height: 60%;
        display: block;
        box-sizing: border-box;
        overflow: hidden;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }

      &__info {
        display: flex;
        align-items: center;
        flex-flow: column;
        justify-content: space-around;
        height: 40%;
        padding: 0 0.9rem;
        &__title {
          color: white;
          font-size: 3.3rem;
          font-weight: bolder;
          font-family: 'PT Sans', sans-serif;
          @include respond(phone) {
            font-size: 2.4rem;
          }
        }
        &__paragraph {
          font-weight: bold;
          color: $color-white;
          font-size: 1.75rem;
          font-family: $font-family-secondary;
          @include respond(phone) {
            font-size: 1.6rem;
          }
        }

        &__buttons {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          width: 100%;

          a {
            background-color: $color-white;

            padding: 1rem 1.5rem;
            border-radius: 0.7rem;
            // font-family: 'Source Sans Pro', sans-serif;
            font-family: $font-family-secondary;
            font-size: 2.4rem;
            color: $color-white;

            background: -webkit-linear-gradient(#eee, #fff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: all 0.3s;
            z-index: 2;
            transition: all 0.3s ease-in-out;
            box-shadow: 0 0.2rem rgba(#000, 0.55);
            @include respond(phone) {
              font-size: 1.7rem;
            }

            &:hover {
              transform: scale(1.05);
              box-shadow: 0 0.2rem rgba(#000, 0.55);
              top: 0.2rem;
            }
            &:active {
              box-shadow: none;
              top: 0.8rem;
            }
          }
        }
      }
    }
  }
}
