@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,700;1,600&display=swap");
.background-blue {
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}

.background-red {
  background-color: #ec7516;
  background-image: linear-gradient(90deg, #ec7516 0%, #ff0000 100%);
}

.background-purple {
  background-color: #843cff;
  background-image: linear-gradient(90deg, #843cff 0%, #784ba0 100%);
}

.background-gold {
  background-color: #ffffff;
  background-image: linear-gradient(180deg, #ffffff 0%, #ffc904 100%);
  background-color: #ffcc00;
  background-image: linear-gradient(0deg, #ffcc00 0%, #d8a613 100%);
}

.background-green {
  background-color: #00a1e9;
  background-image: linear-gradient(90deg, #00a1e9 0%, #80d0c7 100%);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
a:visited,
a:target {
  text-decoration: none !important;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html {
  overflow-y: scroll;
  width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #f4f7fd;
  position: relative;
}

@media only screen and (max-width: 37.5em) {
  .u-margin-bottom {
    margin-bottom: 1rem;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 7vh;
  padding: 0 2rem;
  position: relative;
  background-color: #000;
  font-family: "PT Sans", sans-serif;
}
@media only screen and (max-width: 37.5em) {
  .header {
    flex-direction: column;
    justify-content: center;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__logo {
    align-self: flex-start;
  }
}
.header__logo a {
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 2.9rem;
  font-family: "PT Sans", sans-serif;
}
.header__menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 37.5em) {
  .header__menu {
    display: none;
  }
}
.header__menu .M-link {
  padding: 1.4rem;
}
.header__menu .link {
  padding: 1.2rem;
}
.header__menu a {
  display: inline-block;
  font-weight: 400;
  padding: 0 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 2.2rem;
  transition: all 0.3s ease;
}
.header__menu a:hover {
  border-bottom: 0.3rem solid #0067f4;
}
.header__menu .dropdown {
  position: relative;
}
.header__menu .dropdown a {
  padding: 1.2rem;
}
.header__menu .dropdown:hover .sub-menu {
  display: block;
}
.header__menu .dropdown:hover .sub-menu:hover {
  display: block;
}
.header__togglebutton {
  position: absolute;
  top: 1rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 3rem;
  height: 2.1rem;
}
@media only screen and (max-width: 37.5em) {
  .header__togglebutton {
    display: flex;
    top: 50%;
    right: 5%;
    transform: translate(5%, -50%);
  }
}
.header__togglebutton .bar {
  height: 0.3rem;
  width: 100%;
  background-color: white;
  border-radius: 1rem;
}
.active {
  display: flex;
  flex-flow: column;
  justify-items: center;
  align-content: center;
}

.active-mobile {
  top: 5%;
  right: 5%;
  transform: translate(5%, -5%);
}

.projects--container {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: #f4f7fd;
  position: relative;
  padding-bottom: 5rem;
  overflow: hidden;
}
.projects--container__title {
  font-size: 5.2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: black;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
}
.projects--container__projects-grid {
  display: grid;
  margin: 0 auto;
  width: 90%;
  height: auto;
  row-gap: 4rem;
  column-gap: 2rem;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(65rem, 1fr));
}
@media only screen and (max-width: 37.5em) {
  .projects--container__projects-grid {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
}
.projects--container__projects-grid .project-card {
  height: 55rem;
  width: 55rem;
  border: 1px solid #d0d0d0;
  border-radius: 1.5rem;
  box-shadow: 0px 9px 25px -16px rgba(0, 0, 0, 0.54);
  background-color: #ececec;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
@media only screen and (max-width: 37.5em) {
  .projects--container__projects-grid .project-card {
    height: 30rem;
    width: 30rem;
  }
}
.projects--container__projects-grid .project-card:hover {
  transform: scale(1.1);
  background-color: rgba(5, 122, 240, 0.85);
  overflow: hidden;
  border-radius: 1.5rem;
}
.projects--container__projects-grid .project-card:hover .project-card__info__color2 {
  position: absolute;
  background: rgba(5, 122, 240, 0.8);
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
}
.projects--container__projects-grid .project-card:hover .project-card__info__button {
  color: #057af0;
  background-color: white;
}
.projects--container__projects-grid .project-card__img {
  height: 75%;
  width: 100%;
  position: relative;
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
}
.projects--container__projects-grid .project-card__img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.projects--container__projects-grid .project-card__img__title {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  height: 5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.projects--container__projects-grid .project-card__img__title h1 {
  color: white;
  padding: 0.75rem;
  font-size: 3rem;
  text-align: center;
  font-family: "PT Sans", sans-serif;
}
@media only screen and (max-width: 37.5em) {
  .projects--container__projects-grid .project-card__img__title h1 {
    font-size: 2rem;
  }
}
.projects--container__projects-grid .project-card__info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 25%;
  position: relative;
  overflow: hidden;
}
.projects--container__projects-grid .project-card__info__color1 {
  content: "";
  overflow: hidden;
  position: absolute;
  background: rgba(1, 36, 72, 0.15);
  width: 100%;
  height: 100%;
  z-index: 0;
  right: 0;
  bottom: 0;
  clip-path: polygon(68% 68%, 100% 0%, 100% 100%, 0% 100%);
}
.projects--container__projects-grid .project-card__info__color2 {
  content: "";
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  right: -20rem;
  bottom: -20rem;
  z-index: 1;
  clip-path: circle(98.7% at 99% 100%);
  border-radius: inherit;
  transition: all 0.3s ease-in-out;
}
.projects--container__projects-grid .project-card__info__button {
  background-color: #057af0;
  padding: 1rem 1.5rem;
  border-radius: 0.7rem;
  font-family: "Raleway", sans-serif;
  font-size: 2.4rem;
  color: #fff;
  transition: all 0.3s;
  z-index: 2;
  box-shadow: -2px 6px 47px -17px rgba(255, 255, 255, 0.75);
}
@media only screen and (max-width: 37.5em) {
  .projects--container__projects-grid .project-card__info__button {
    font-size: 1.5rem;
  }
}

.projects {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: #f4f7fd;
  position: relative;
  padding-bottom: 5rem;
  overflow: hidden;
}
.projects__title {
  font-size: 5.2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: black;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
}
.projects__grid {
  display: grid;
  margin: 0 auto;
  width: 90%;
  height: auto;
  column-gap: 0.1rem;
  padding: 2.4rem 0;
  row-gap: 4rem;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(70rem, 1fr));
}
@media only screen and (max-width: 37.5em) {
  .projects__grid {
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    width: 100%;
  }
}
.projects__card {
  height: 55rem;
  width: 70rem;
  border: 1px solid #d0d0d0;
  border-radius: 1.5rem;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  padding: 1.2rem 1.2rem;
  display: flex;
  align-items: flex-start;
}
@media only screen and (max-width: 37.5em) {
  .projects__card {
    height: 90rem;
    width: 90%;
    flex-flow: column;
    justify-content: space-between;
    flex-direction: column-reverse;
  }
}
.projects__card__info {
  flex: 40%;
  padding: 0 0.5rem;
  height: 100%;
  overflow: auto;
}
@media only screen and (max-width: 37.5em) {
  .projects__card__info {
    margin-top: 2rem;
  }
}
.projects__card__info::-webkit-scrollbar {
  display: none;
}
.projects__card__info__title {
  font-size: 1.8rem;
  color: #808080;
  text-transform: capitalize;
  letter-spacing: 0.05rem;
  margin-bottom: 2rem;
}
.projects__card__info__tech {
  display: flex;
  margin-bottom: 2.2rem;
}
.projects__card__info__tech__icon {
  flex: 10%;
  font-size: 3.3rem;
  text-align: left;
}
@media only screen and (max-width: 37.5em) {
  .projects__card__info__tech__icon {
    text-align: center;
  }
}
.projects__card__info__tech__info {
  flex: 70%;
}
.projects__card__info__tech__info__title {
  font-size: 2.2rem;
  color: #000;
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}
.projects__card__info__tech__info__bar {
  height: 0.4rem;
  margin-bottom: 0.5rem;
  width: 90%;
}
.projects__card__info__tech__info__paragraph {
  font-size: 1.3rem;
  color: #808080;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  width: 90%;
}
@media only screen and (max-width: 37.5em) {
  .projects__card__info__tech__info__paragraph {
    font-size: 1.45rem;
  }
}
.projects__card__summary {
  flex: 60%;
  border-radius: 0.7rem 0.7rem;
  height: 100%;
  overflow: hidden;
  box-shadow: 0px 9px 25px -16px rgba(0, 0, 0, 0.54);
}
.projects__card__summary__img {
  height: 60%;
  display: block;
  box-sizing: border-box;
  overflow: hidden;
}
.projects__card__summary__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.projects__card__summary__info {
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: space-around;
  height: 40%;
  padding: 0 0.9rem;
}
.projects__card__summary__info__title {
  color: white;
  font-size: 3.3rem;
  font-weight: bolder;
  font-family: "PT Sans", sans-serif;
}
@media only screen and (max-width: 37.5em) {
  .projects__card__summary__info__title {
    font-size: 2.4rem;
  }
}
.projects__card__summary__info__paragraph {
  font-weight: bold;
  color: #fff;
  font-size: 1.75rem;
  font-family: "Raleway", sans-serif;
}
@media only screen and (max-width: 37.5em) {
  .projects__card__summary__info__paragraph {
    font-size: 1.6rem;
  }
}
.projects__card__summary__info__buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.projects__card__summary__info__buttons a {
  background-color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 0.7rem;
  font-family: "Raleway", sans-serif;
  font-size: 2.4rem;
  color: #fff;
  background: -webkit-linear-gradient(#eee, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0.2rem rgba(0, 0, 0, 0.55);
}
@media only screen and (max-width: 37.5em) {
  .projects__card__summary__info__buttons a {
    font-size: 1.9rem;
  }
}
.projects__card__summary__info__buttons a:hover {
  transform: scale(1.05);
  box-shadow: 0 0.2rem rgba(0, 0, 0, 0.55);
  top: 0.2rem;
}
.projects__card__summary__info__buttons a:active {
  box-shadow: none;
  top: 0.8rem;
}

.collections2 {
  overflow: hidden;
}
.collections2 .left-c {
  position: relative;
}
.collections2 .left-c .left-c-img {
  position: relative;
}
.collections2 .left-c .left-c-img .overlay {
  position: absolute;
  width: 100%;
  background: rgba(255, 255, 0, 0.5);
  top: 0;
  height: 100%;
}
.collections2 .left-c img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
}
.collections2 .left-c .collection-title {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: flex-end;
  align-items: center;
  transform: translate(-5%, 20%);
  font-size: 4.9rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  line-height: 1;
}
.collections2 .right-c__background {
  background: #dddfe4;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.collections2 .right-c__background .right-c-img {
  height: 40em;
  width: 40rem;
}
@media only screen and (max-width: 37.5em) {
  .collections2 .right-c__background .right-c-img {
    height: 40rem;
    width: 40rem;
  }
}
.collections2 .right-c__background .right-c-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.collections2 .right-c__background .right-c-img .collection-title {
  font-size: 4.6rem;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
  transform: translate3d(-3rem, -10rem, 0);
  display: block;
}

.features {
  height: 60rem;
  width: 100%;
  background: url("./assets/friends.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 3rem;
}
.features .overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.features .overlay .percent-number {
  color: white;
  font-size: 22rem;
  font-weight: 900;
  line-height: 1;
}
@media only screen and (max-width: 37.5em) {
  .features .overlay .percent-number {
    font-size: 18rem;
  }
}
.features .overlay .title {
  color: white;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.features .overlay a {
  color: white;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 10px;
  padding: 0.8rem 1.6rem;
  border: 2px solid white;
  margin-top: 0.5rem;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}
.features .overlay a:hover {
  background: white;
  color: black;
}

footer {
  background: #1b1b1b;
  padding: 2rem 0;
  color: white;
}
footer .social-title {
  color: #fff;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-size: 2.5rem;
  letter-spacing: 1px;
  display: block;
  text-align: center;
}
footer .social-icons {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .social-icons a {
  font-size: 2.8rem;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  color: black;
}
footer .social-icons a:hover {
  cursor: pointer;
  color: #0067f4;
  background: black;
  border: 1px solid #0067f4;
  box-shadow: 0px 20px 25px -16px #0067f4;
}

.u-margin-top-big {
  margin-top: 3rem;
}

.u-margin-top-medium {
  margin-top: 2rem;
}

.u-margin-top-small {
  margin-top: 1rem;
}

.u-margin-bottom-big {
  margin-bottom: 3.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 2rem;
}

.u-margin-bottom-small {
  margin-bottom: 1rem;
}

.popup {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup__close {
  font-size: 4rem;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1rem;
  color: #000;
  border-radius: 50%;
  text-align: center;
}
@media only screen and (max-width: 37.5em) {
  .popup__close {
    font-size: 3.2rem;
  }
}
.popup__content {
  width: 60%;
  height: 92%;
  padding-bottom: 1.2rem;
  border-radius: 2rem;
  position: relative;
  overflow-y: auto;
}
.popup__content::-webkit-scrollbar {
  display: none;
}
@media only screen and (max-width: 75em) {
  .popup__content {
    width: 95%;
  }
}
@media only screen and (max-width: 37.5em) {
  .popup__content {
    height: 95%;
  }
}
.popup__content__title {
  text-align: center;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  padding: 1rem;
}
.popup__content__title h1 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-family: "PT Sans", sans-serif;
  font-size: 4rem;
  color: #fff;
}
@media only screen and (max-width: 75em) {
  .popup__content__title h1 {
    font-size: 5rem;
    letter-spacing: 1px;
  }
}
@media only screen and (max-width: 37.5em) {
  .popup__content__title h1 {
    font-size: 3rem;
  }
}
.popup__content__gallery-container {
  width: 100%;
  height: 45%;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 75em) {
  .popup__content__gallery-container {
    width: 100%;
    height: 38%;
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .popup__content__gallery-container {
    width: 100%;
    height: 25%;
    margin-bottom: 1rem;
  }
}
.popup__content__gallery-container .gallery {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
@media only screen and (max-width: 37.5em) {
  .popup__content__gallery-container .gallery {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 75em) {
  .popup__content__gallery-container .gallery {
    width: 100%;
    height: 100%;
  }
}
.popup__content__gallery-container .gallery .gallery-cell {
  height: 100%;
  width: 100%;
}
.popup__content__gallery-container .gallery .gallery-cell img {
  object-fit: cover;
  object-position: center;
  height: auto;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 37.5em) {
  .popup__content__gallery-container .gallery .gallery-cell img {
    object-fit: contain;
  }
}
.popup__content__info {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
}
.popup__content__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  min-height: 25%;
  height: auto;
  column-gap: 1rem;
  margin-bottom: 1rem;
}
.popup__content__info__column {
  padding: 2rem 2rem;
  border-radius: 1rem;
  background-color: #ececec;
  box-shadow: 0px 9px 25px -16px rgba(0, 0, 0, 0.54);
}
@media only screen and (max-width: 37.5em) {
  .popup__content__info__column {
    padding: 0.6rem 0.8rem;
  }
}
@media only screen and (max-width: 75em) {
  .popup__content__info__column {
    padding: 1rem 1.2rem;
  }
}
.popup__content__info__column h2 {
  font-size: 2.5rem;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media only screen and (max-width: 75em) {
  .popup__content__info__column h2 {
    font-size: 2.2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .popup__content__info__column h2 {
    font-size: 1.2rem;
  }
}
.popup__content__info__column p {
  margin-top: 0.5rem;
  font-size: 1.4rem;
  color: #fff;
  color: black;
  letter-spacing: 1.5px;
  font-family: "Raleway", sans-serif;
  hyphens: auto;
}
@media only screen and (max-width: 75em) {
  .popup__content__info__column p {
    font-size: 1.6rem;
    letter-spacing: 1px;
  }
}
@media only screen and (max-width: 37.5em) {
  .popup__content__info__column p {
    font-size: 0.8rem;
  }
}
.popup__content__skills {
  margin-top: 1.5rem;
}
.popup__content__skills__title {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 2.9rem;
  text-transform: uppercase;
}
@media only screen and (max-width: 37.5em) {
  .popup__content__skills__title {
    font-size: 1.7rem;
    letter-spacing: 1px;
  }
}
@media only screen and (max-width: 75em) {
  .popup__content__skills__title {
    font-size: 2.4rem;
    letter-spacing: 1px;
  }
}
.popup__content__skills__skills-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.popup__content__skills__skills-container__skill {
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  text-transform: uppercase;
  font-size: 1.27rem;
  color: #fff;
  font-family: "Raleway", sans-serif;
  text-align: center;
  line-height: 9rem;
}
@media only screen and (max-width: 75em) {
  .popup__content__skills__skills-container__skill {
    font-size: 1.4rem;
    letter-spacing: 1px;
  }
}
@media only screen and (max-width: 37.5em) {
  .popup__content__skills__skills-container__skill {
    font-size: 0.8rem;
    height: 5rem;
    width: 5rem;
    line-height: 4rem;
  }
}
.popup__content__links {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.popup__content__links__button {
  padding: 1rem 1.5rem;
  border-radius: 0.7rem;
  font-family: "Raleway", sans-serif;
  font-size: 2.4rem;
  color: #fff;
  z-index: 2;
  box-shadow: -2px 6px 47px -17px white;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0.2rem rgba(0, 0, 0, 0.55);
  position: relative;
}
.popup__content__links__button:hover {
  transform: scale(1.05);
  box-shadow: 0 0.2rem rgba(0, 0, 0, 0.55);
  top: 0.2rem;
}
.popup__content__links__button:active {
  box-shadow: none;
  top: 0.8rem;
}
@media only screen and (max-width: 37.5em) {
  .popup__content__links__button {
    padding: 1rem 1.2rem;
    border-radius: 0.7rem;
    font-size: 1.7rem;
  }
}

/*# sourceMappingURL=main.css.map */
